<!doctype html>
<html>
<head>
    {{#section 'head'}}
        <!-- we want Google to ignore this page -->
        <meta name="'robots" content="noindex">
    {{/section}}
    <h1>Test Page</h1>
    <p>We're testing some jQuery stuff</p>
    {{#section 'jquery'}}
        <script>
            $('document').ready(function () {
                $('h1').html('jQuery Works');
            });
        </script>
    {{/section}}
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
</head>
<body>
    {{{body}}}
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{_sections.jquert}}}
</body>
</html>